<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Chart Dashboard</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/stock.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/indicators.js"></script>  
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://momentjs.com/downloads/moment-timezone-with-data.min.js"></script>
    <style>
        body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
}

#container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 2000px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  flex: 1;
}

#container {
  flex: 1;
  height: 100%;
  min-width: 0;
}

 #control-panel {
 flex: 0 0 200px;
 background-color: #f8f9fa;
  border-left: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: stretch;
}

.sma-button {
  padding: 8px 15px;
  border: none;
  background-color: #ffffff; 
  color: #ffffff; 
  border-radius: 3px;
  cursor: pointer;
}

.sma-button.active {
    background-color: #007bff;
    color: #ffffff;
}

.sma-button:hover {
    background-color: #e9ecef;
    color: #007bff;
}

.input-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.input-container label {
  margin-right: 10px;
}

.input-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  flex-grow: 1;
  max-width: 100px;
}

.input-container button {
  padding: 8px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.input-container button.disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.input-container button:hover {
  background-color: #0056b3;
}

.bubble {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.bubble:hover {
  opacity: 0.8;
}

.index-button {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-end; /* Align items to the bottom */
    margin-top: auto; /* Push the button to the bottom of the container */
}

.index-button button {
    margin: 10px;
    margin-top: auto;
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    align-self: center;
}

.index-button button:hover {
    background-color: #0056b3;
    color: white; /* Ensure text color remains white on hover */
}
    </style>
</head>

<body>
    <div id="container-wrapper">
        <div id="container"></div>
        <div id="control-panel">
            <div class="input-container">
                <button id="sma10DaysButton" class="sma-button" onclick="activeSMA('10');">10-day SMA</button>
            </div>
            <div class="input-container">
                <button id="sma20DaysButton" class="sma-button" onclick="activeSMA('20');">20-day SMA</button>
            </div>
            <div class="input-container">
                <button id="sma50DaysButton" class="sma-button" onclick="activeSMA('50');">50-day SMA</button>
            </div>
            <div class="input-container">
                <button id="sma100DaysButton" class="sma-button" onclick="activeSMA('100');">100-day SMA</button>
            </div>
            <div class="input-container">
                <button id="sma200DaysButton" class="sma-button" onclick="activeSMA('200');">200-day SMA</button>
            </div>
            <div class="input-container">
                <button id="dailyButton" class="interval-button">Daily</button>
            </div>
            <div class="input-container">
                <button id="weeklyButton" class="interval-button">Weekly</button>
            </div>
            <div class="input-container">
                <button id="monthlyButton" class="interval-button">Monthly</button>
            </div>

            <div class="index-button">
                <button type="button" onclick="goToIndexPage()">Go back to real time stock page</button>
            </div>
        </div>
    </div>
    <div class="input-container" style="margin-top: 20px; margin-left: 20px;">
        <input type="text" id="stockSymbolInput" placeholder="Enter stock symbol number">
        <button id="addSymbolButton" onClick="addSymbol()">Add Symbol</button>
    </div>
    
    <div id="symbolBubbles" style="margin-left: 20px;"></div>
    <script type="text/javascript">

        //deafult symbol
        const symbols = ['0388.HK']; 
        const symbolColors = {
            '0388.HK': '#007bff'
        };

        const smaState = {
            '10': false,
            '20': false,
            '50': false,
            '100': false,
            '200': false
        };

        const dataState = {
            '1d': true,
            '1wk': false,
            '1mo': false,
        };

         // Store references to the SMA series
        let smaLines = {};
    
        // calculate SMA
        function calculateSMA(data, period) {
            const sma = [];
            for (let i = 0; i < data.length; i++) {
                if (i >= period - 1) {
                    const sum = data.slice(i - period + 1, i + 1).reduce((acc, val) => acc + val[4], 0); // Assuming close price is at index 4
                    sma.push([data[i][0], sum / period]);
                }
            }
            return sma;
        }

        

// Function to remove existing SMA lines
function removeExistingSMA() {
    const chart = Highcharts.charts[0]; // Assuming only one chart is present

    // Regular expression to match all SMA lines for any symbol
    const regex = /^(\d{4}\.HK)-\d+$/;

    // Iterate over smaLines keys and remove all SMAs
    Object.keys(smaLines).forEach(key => {
        if (regex.test(key)) {
            smaLines[key].remove();
            delete smaLines[key];
        }
    });
}

// function to active SMA
function activeSMA(period) {
    const button = document.getElementById(`sma${period}DaysButton`);

    if (smaState[period] === true) {
        smaState[period] = false;
        console.info(smaState[period]);
        removeSMA(period);
        button.style.backgroundColor = '#007bff';
        button.style.color = '#ffffff';
        
    } else {
        smaState[period] = true;
        toggleSMA(period)
        console.info(smaState[period]);
        button.style.backgroundColor = '#ffffff';
        button.style.color = '#000000';

    }
}

// function to remove SMA line
function removeSMA(period) {
    symbols.forEach(symbol => {
        const existingSMA = smaLines[`${symbol}-${period}`];
        if (existingSMA) {
            existingSMA.remove();
            delete smaLines[`${symbol}-${period}`];
        }
    });
}
// plot sma line function
function toggleSMA(period) {
    symbols.forEach(symbol => {
        const chart = Highcharts.charts[0]; 
        const ohlcSeries = chart.get(`${symbol}-ohlc`);
        const existingSMA = smaLines[`${symbol}-${period}`];

        if (existingSMA) {
            // If SMA series exists, remove it and update smaState
            existingSMA.remove();
            delete smaLines[`${symbol}-${period}`];
            smaState[period] = false; // Set SMA state to false (inactive)
        } 

                const smaSeries = chart.addSeries({
                    type: 'sma',
                    linkedTo: `${symbol}-ohlc`,
                    name: `${period}-day SMA`,
                    zIndex: 3,
                    params: {
                period: `${period}`
            },
                    marker: {
                        enabled: true
                    }
          });


                smaLines[`${symbol}-${period}`] = smaSeries;
              
        
            }
        )}


        function toggleActiveButton(buttonId, isActive) {
    const button = document.getElementById(buttonId);
    if (button) {
        if (isActive) {
            button.classList.add('active');
            button.classList.remove('inactive');
        } else {
            button.classList.remove('active');
            button.classList.add('inactive');
        }
    }
}
    
    // Function to add symbol to the chart
async function addSymbol() {
    const symbolRegex = /^\d{4}$/;
    const input = document.getElementById('stockSymbolInput');
    const symbolNumber = input.value.trim();

    if (!symbolRegex.test(symbolNumber)) {
        alert('Symbol must be exactly four digits.');
        return;
    }

    const symbol = `${symbolNumber}.HK`;

    if (symbols.includes(symbol)) {
        alert('Symbol already added.');
        return;
    }

    try {
        const response = await fetch(`/history/${symbol}/1d`);
        const data = await response.json();

        if (data.code !== 0) {
            alert('Symbol does not exist');
            return;
        }
        
        // Push new symbol to symbols array
        symbols.push(symbol);
        symbolColors[symbol] = Highcharts.getOptions().colors[symbols.length % Highcharts.getOptions().colors.length];
        createBubble(symbol);
        input.value = '';
        
        // Refresh chart with updated symbols
        historyChart();
        
        
    } catch (error) {
        console.error('Error adding symbol:', error);
    }
} 
    
function createBubble(symbol) {
    const bubble = document.createElement('div');
    bubble.className = 'bubble';
    bubble.textContent = symbol;
    bubble.style.backgroundColor = symbolColors[symbol];
    bubble.onclick = () => {
        removeSymbol(symbol);
        bubble.remove();
    };
    document.getElementById('symbolBubbles').appendChild(bubble);
}

function removeSymbol(symbolToRemove) {
    const index = symbols.indexOf(symbolToRemove);
    
    if (index > -1) {
        symbols.splice(index, 1);

        // Remove associated series from the chart
        const chart = Highcharts.charts[0]; 
        const ohlcSeries = chart.get(`${symbolToRemove}-ohlc`);
        const volumeSeries = chart.get(`${symbolToRemove}-volume`);
        
        // Regular expression to match all SMA lines for the symbol
        const regex = new RegExp(`^${symbolToRemove}-`);

        // Iterate over smaLines keys and remove matching SMAs
        Object.keys(smaLines).forEach(key => {
            if (regex.test(key)) {
                smaLines[key].remove();
                delete smaLines[key];
            }
        });


        if (ohlcSeries) {
            ohlcSeries.remove();
        }
        if (volumeSeries) {
            volumeSeries.remove();
        }

        // Remove symbol bubble from UI
        const bubbleToRemove = document.querySelector(`.bubble[data-symbol="${symbolToRemove}"]`);
        if (bubbleToRemove) {
            bubbleToRemove.remove();
        }

        // Refresh chart
        historyChart();
    }
}

// main function for plot the line
async function historyChart(interval = '1d') {
    try {
      
        const promises = symbols.map(symbol =>
            fetch(`/history/${symbol}/${interval}`)
                .then(response => response.json())
                .then(data => ({
                    symbol: symbol,
                    ohlc: data.data[0].data.map(item => [
                        new Date(item.regularMarketUnix * 1000).getTime(),
                        item.open,
                        item.high,
                        item.low,
                        item.close
                    ]),
                    volume: data.data[0].data.map(item => [
                        new Date(item.regularMarketUnix * 1000).getTime(),
                        item.volume
                    ])
                }))
        );

        const dataResults = await Promise.all(promises);

        // Prepare series data for Highcharts
        const newSeries = dataResults.flatMap(result => [
            {
                type: 'candlestick',
                name: result.symbol,
                id: `${result.symbol}-ohlc`,
                zIndex: 2,
                data: result.ohlc,
                color: symbolColors[result.symbol]
            },
            {
                type: 'column',
                name: `${result.symbol} Volume`,
                id: `${result.symbol}-volume`,
                data: result.volume,
                yAxis: 1,
                color: symbolColors[result.symbol]
            }
        ]);

        // Update or add series to existing chart
        if (Highcharts.charts.length > 0) {
            const chart = Highcharts.charts[0]; 

            // Remove existing series for the current symbols
            symbols.forEach(symbol => {
                const ohlcSeries = chart.get(`${symbol}-ohlc`);
                const volumeSeries = chart.get(`${symbol}-volume`);

                if (ohlcSeries) {
                    ohlcSeries.remove();
                }
                if (volumeSeries) {
                    volumeSeries.remove();
                }
            });

            // Add new series data to the chart
            newSeries.forEach(series => {
                chart.addSeries(series);
            });
        } else {
            // Create new chart if it doesn't exist
            Highcharts.stockChart('container', {
                rangeSelector: {
                    selected: 1
                },
                title: {
                    text: 'Stock Price History'
                },
                yAxis: [{
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'OHLC'
                    },
                    height: '60%',
                    lineWidth: 2
                }, {
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'Volume'
                    },
                    top: '65%',
                    height: '35%',
                    offset: 0,
                    lineWidth: 2
                }],
                tooltip: {
                    split: true
                },
                series: newSeries
            });
        }

        Object.keys(smaState).forEach(period => {
        if (smaState[period]) {
            toggleSMA(period);
        }
    });

    } catch (error) {
        console.error('Error fetching data:', error);
    }
}


function updateIntervalButtonColors() {
    // Daily Button
    const dailyButton = document.getElementById('dailyButton');
    dailyButton.style.backgroundColor = dataState['1d'] ? '#ffffff' : '#007bff';
    dailyButton.style.color = dataState['1d'] ? '#007bff' : '#ffffff';

    // Weekly Button
    const weeklyButton = document.getElementById('weeklyButton');
    weeklyButton.style.backgroundColor = dataState['1wk'] ? '#ffffff' : '#007bff';
    weeklyButton.style.color = dataState['1wk'] ? '#007bff' : '#ffffff';

    // Monthly Button
    const monthlyButton = document.getElementById('monthlyButton');
    monthlyButton.style.backgroundColor = dataState['1mo'] ? '#ffffff' : '#007bff';
    monthlyButton.style.color = dataState['1mo'] ? '#007bff' : '#ffffff';
}


function updateIntervalState(interval) {
    // All set False
    for (const key in dataState) {
        if (Object.hasOwnProperty.call(dataState, key)) {
            dataState[key] = false;
        }
    }
    // set true
    dataState[interval] = true;
    // Update color
    updateIntervalButtonColors();
}

// daily, weekly, monthly data listener
document.addEventListener('DOMContentLoaded', function () {

    document.getElementById('dailyButton').addEventListener('click', () => {
        historyChart('1d');
        updateIntervalState('1d');
    });

    document.getElementById('weeklyButton').addEventListener('click', () => {
        historyChart('1wk');
        updateIntervalState('1wk');
    });

    document.getElementById('monthlyButton').addEventListener('click', () => {
        historyChart('1mo');
        updateIntervalState('1mo');
    });

});


document.getElementById('symbolBubbles').innerHTML = '';

// add symbol button enter key listener
document.getElementById('stockSymbolInput').addEventListener('keypress', function (event) {
    if (event.key === 'Enter') {
        addSymbol();
    }
});

// initialize bubble
symbols.forEach(symbol => {
    createBubble(symbol);
});

// initialize the chart and button color
historyChart('1d');
updateIntervalButtonColors();


// Redirect to the historical page
function goToIndexPage() {
    window.location.href = '/';
}
    </script>
</body>
</html>
    